{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Short_desc</th>
                <th>Long_desc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.picture }}</td>
                <td>{{ contact.shortDesc }}</td>
                <td>{{ contact.longDesc }}</td>
                <td>
                    <a href="{{ path('contact_admin_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contact_admin_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_admin_new') }}">Create new</a>
{% endblock %}
