 {% extends 'base.html.twig' %}

   
     {% block metaTitle %}
         " Se connecter "
     {% endblock %}
   
   
     {% block title %}
         Se connecter
     {% endblock %}

     {% block body %}

         <body id="loginStyle" class="text-center">
    
         <main class="form-signin">

             <form method="post">

                 {% if error.messageKey is defined %}

                     <div class="alert alert-danger">
                         {{ error.messageKey|trans(error.messageData, 'security') }} 
                     </div>

                 {% endif %}

                 {% if app.user %}
    
                     <div class="mb-3">
    
                         Vous etes connecté en tant que {{ app.user.username }},
                         <a href="{{ path('app_logout') }}"> Se déconnecter </a>
    
                     </div>
    
                 {% endif %}
    
                 <img class="mb-4" src="/logoGrand.webp" alt="" width="72" height="57">
                 
                     <h1 class="h3 mb-3 font-weight-normal"> Se connecter </h1>

                         <label for="inputLogin" class="visually-hidden"> Pseudo </label>
                         <input  type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control"  placeholder="Email address" required autofocus>
                                 
                         <label for="inputPassword" class="visually-hidden"> Mot de passe </label>
                         <input  type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required=""> 
   
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                         <button class="btn btn-primary btn-lg btn-block" type="submit"> 
                             Se connecter 
                         </button> </br>            

                         <p>
                                 {# Tu n'as pas encore créer de compte ? #} 
                                 <a class="btn btn-primary btn-lg btn-block" href="{{ path ('app_register') }}"> Créer un compte </a>
                         </p>

             </form>

         </main>

     {% endblock %}
