 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gestionnaire de plateforme "
     {% endblock %}


     {% block title %}
         Gestionnaire de plateforme
     {% endblock %}
     
     {% block body %}







         <h1 class="h3 mb-3 font-weight-normal"> Gestion des plateformes </h1>
     
             <table class="table table-dark table-hover">

                 <thead class="thead-light">

                     <tr>
                         <th> Id </th>
                         <th> Nom </th>
                         <th> Artiste </th>
                         <th> Lien </th>
                         <th> Actions </th>
                     </tr>

                 </thead>

                 <tbody>

                     {% for plateforme in plateformes %}

                     <tr>
                         <td> {{ plateforme.id }} </td>
                         <td> {{ plateforme.name }} </td>
                         <td> {{plateforme.PlateformeUser.login}}
                         <td> {{ plateforme.link }} </td>

                             <td>
                                 <a class="btn btn-outline-primary" href="{{ path('plateforme_show_admin', {'id': plateforme.id}) }}"> Voir </a>
                                 <a class="btn btn-outline-primary" href="{{ path('plateforme_edit_admin', {'id': plateforme.id}) }}"> Modifier </a>
                             </td>

                     </tr>
                       
                     {% else %}

                         <tr>
                             <td colspan="11"> Aucun résultat </td>
                         </tr>

                     {% endfor %}

                 </tbody>

             </table>
     
             {# <a class="btn btn-primary btn-lg btn-block" href="{{ path('plateforme_new_admin') }}"> Créer un nouveau lien </a> #}
             <a class="btn btn-primary btn-lg btn-block" href="{{ path('plateforme_new_admin') }}"> Créer un nouveau lien </a>
    
     {% endblock %}
