 <!DOCTYPE html>

     
     {% block metaTitle %}
     {% endblock %}

     {% block title %}   
     {% endblock %}

     
     {% block body %}
 
         <header>
         
             <div class="AcountFrame" style="display:flex; justify-content:space-around;">
                      
                     {# ***** BLOC AUTHENTIFICATION ***** #}
                     <div class="TextFrame">
                            
                         {% if app.user %}

                             <p> Vous etes connecté en tant que: 

                                 {% if app.user %}
                                     {{app.user.login}}
                                 {% endif %} <br/>

                             </p>

                         {% endif %}
                            
                     </div>      
                    
                     {# prévoir mise en place pour administration (gestion des roles) #}
                     {% if app.user %}
                
                     {# ***** CONTENEUR ACCORDEON ***** #}
                     <div class="accordion accordion-flush" id="accordionFlushExample">
                     
                         {# ***** ELEMENT N°1 ***** #}
                         <div class="accordion-item">
         
                                         {# *** TITRE DE L'ELEMENT N°1 *** #}
                                         <h2 class="accordion-header" id="flush-headingOne">
                                             
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                 Interface d'administration
                                             </button>
                                       
                                         </h2>
         
                             <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
         
                                         {# *** CONTENU DE L'ELEMENT N°1 *** #}
                                         <div class="accordion-body">
                                     
                                             {# ***** BLOC IDENTIFICATION ***** #}
                                             <div class="logFrame">

                                                 {# *** Partie: Interface d'administration *** #}                                          
                                                 {% if is_granted('ROLE_ADMIN') %} <br/>
                                          
                                                 {# {# <hr> #}
                                                     <ul>

                                                         <li>
                                                             <a href="/admin/home/edit"> Gestion de l'accueil </a><br/>     
                                                         </li>  

                                                         <li>                                           
                                                             <a href="/admin/user"> Gestion des utilisateurs </a><br/>     
                                                         </li>   

                                                         <li>     
                                                             <a href="/admin/projet"> Gestion des projets </a>
                                                         </li> 

                                                     </ul>
                                                 {# <hr> #}

                                                 {% endif %}
         
                                             </div>
         
                                         </div>
         
                             </div>

                     {% endif %}
                     
                     {# ***** ELEMENT N°2 ***** #}

                         {% if app.user %}

                             {# ***** BLOC GESTION DU COMPTE ***** #}
                             <div class="accordion-item">
         
                                         {# *** TITRE DE L'ELEMENT N°2 *** #}
                                         <h2 class="accordion-header" id="flush-headingTwo">      
         
                                             <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                 Gestion du compte
                                             </button>      
         
                                         </h2>
         
                                         {# *** CONTENU DE L'ELEMENT N°2 *** #}
                                         <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         
                                             <div class="accordion-body">
                                                 
                                                 {# *** Partie: Gestion du compte (utilisateur actuel) *** #}
                                                 {% if is_granted('ROLE_USER') %} 
                                                     
                                                     <ul>
                                                     
                                                         <li>
                                                             <a href="{{path ('user_edit_current', { 'id': app.user.id })}}"> Gérer mon profil </a><br/>   
                                                         </li>  

                                                         <li>  
                                                             <a href="{{path ('projet_index_user', { 'login': app.user.login})}}"> Gérer mes projets </a><br/>
                                                         </li>  

                                                         <li>  
                                                             <a href="{{ path ('app_logout') }}"> Se déconnecter </a>
                                                         </li> 

                                                     </ul>

                                                 {% endif %}
         
                                             </div>
         
                                         </div>
                                                 
                             {% endif %}

                                     {% if not app.user %}
                               
                                 {# *** BLOC CONNEXION & CREER UN COMPTE *** #}
                                 <div>

                                         <div class="">
                                             <a href="{{ path ('app_login') }}" id="connexion"> Connexion </a><br/>
                                             <a href="{{ path ('app_register') }}" id="register"> Créer un compte </a>
                                         </div>

                                         {% endif %} 
         
                                 </div>

                             </div>

                         </div>

                     {# </div> #}

                 {# </div> #}

             </div>                             
         
                 {# ***** BARRE DE NAVIGATION ***** #}
                
                         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                
                             <div class="container-fluid">
                
                                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                     <span class="navbar-toggler-icon"></span>
                                 </button>
                
                                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
                                         <ul class="navbar-nav">
                
                                             <li class="nav-item active">
                                                 <a class="nav-link" href="{{path ("home")}}"> Accueil <span class="sr-only">(current)</span></a>
                                             </li>
                
                                             {# ***** MENU DEROULANT **** #}
                                             <li class="nav-item dropdown">
                
                                                     {# *** SERVICES *** #}
                                                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                              Services 
                                                         </a>
                
                                                     {# prévoir boucle twig pour récuperer depuis la bdd #}
                                                     {# <li><hr class="dropdown-divider"></li> sert a diviser le menu #}
                
                                                     {# ***** Liste du Menu déroulant: SERVICES ***** #}                                                   
                                                         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                                                             {# *** Enregistrement *** #}    
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Enregistrement </a>
                                                             </li>   
                    
                                                             {# *** Mixage *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Mixage </a>
                                                             </li>   
                
                                                             {# *** Mastering *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Mastering </a>
                                                             </li>  
                
                                                             {# *** Vidéo *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Vidéo </a>
                                                             </li>  
                
                                                             {# *** Création graphique *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Création graphique </a>
                                                             </li>                                        
                                                  
                                                             {# *** Pressage CD *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Pressage CD </a>
                                                             </li>                                        
                                                
                                                             {# *** Impression *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Impression </a>
                                                             </li>                                        
                                                     
                                                             {# *** Distribution *** #}
                                                             <li>
                                                                 <a class="dropdown-item" href="#"> Distribution </a>
                                                             </li>                                        
                              
                                                         </ul>
                           
                                             </li>               
                
                                                 {# *** LES ARTISTES *** #}
                                                     <li class="nav-item">
                                                     <a class="nav-link" href="{{path ("artistes")}}"> Les Artistes </a>
                                                     </li>
                
                                                 {# *** LIVRE D'OR *** #}
                                                     <li class="nav-item">
                                                     <a class="nav-link" href="{{path ("livre_dor")}}"> Livre d'or </a>
                                                     </li>
                
                                                 {# *** CONTACT *** #}
                                                     <li class="nav-item">
                                                     <a class="nav-link" href="{{path ("contact")}}"> Contact </a>
                                                     </li>
                                     
                                         </ul>
                
                                 </div>
                
                             </div>
                
                         </nav>   
         
         </header>  

     {% endblock %}