 <header>

     <div class="AcountFrame" style="display:flex; justify-content:space-around;">
         <div class="TextFrame">

             <p> Vous etes connecté en tant que: 
                {% if app.user %} {{app.user.login}} {% endif %} <br/>
             </p>
        </div>   
		        
         {# prévoir mise en place pour administration (gestion des roles) #}

         <div class="logFrame">

             {% if app.user %}
                 <a href="{{ path ('app_logout') }}"> Se déconnecter </a>
                 {% if is_granted('ROLE_ADMIN') %}
                 <br/>
                 <a href="/admin/user"> Gestion des utilisateurs </a><br/>
                 <a href="/admin/home/edit"> Gestion de la homepage</a>

                {% endif %} 
             {% endif %}

             {% if  not app.user %}
                 <a href="{{ path ('app_login') }}" > Se connecter </a>
             {% endif %}

         </div>
    </div>




     <div class="test">

         <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                 <ul class="navbar-nav">

                     <li class="nav-item active">
                         <a class="nav-link" href="{{path ("home")}}"> Accueil <span class="sr-only">(current)</span></a>
                     </li>

                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                        </a>

                         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <li><a class="dropdown-item" href="{{path ("services")}}">ServicesController</a></li>
                             {# prévoir boucle twig pour récuperer depuis la bdd #}
                             {# <li><hr class="dropdown-divider"></li> sert a diviser le menu #}
                         </ul>
                     </li>               

                     <li class="nav-item">
                         <a class="nav-link" href="{{path ("artistes")}}"> Les Artistes </a>
                     </li>

                     <li class="nav-item">
                         <a class="nav-link" href="{{path ("livre_dor")}}"> Livre d'or </a>
                     </li>

                     <li class="nav-item">
                         <a class="nav-link" href="{{path ("contact")}}"> Contact </a>
                     </li>
                     
                 </ul>
             </div>
             </div>
         </nav>
     </div>
 </header>