{# _GD copier depuis index.html pour fork les liens. lignes:  57,58,75  #}
 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Gestionnaire de projets "
     {% endblock %}


     {% block title %}
         Gestionnaire de projets
     {% endblock %}

     {% block body %}







         <h1 class="h3 mb-3 font-weight-normal"> Gestion des projets </h1>

             <table class="table table-dark">

                 <thead class="thead-light">
    
                     <tr>
                         <th> Id </th>
                         <th> Titre </th>
                         <th> Année </th>
                         <th> Nombre de tracks  </th>
                         <th> Sample </th>
                         <th> Lien n°1 </th>
                         <th> Lien n°2 </th>
                         <th> Lien n°3 </th>
                         <th> Cover </th>
                         <th> Description </th>
                         <th> Actions </th>
                       
                     </tr>
    
                 </thead>
 
                 <tbody>

                     {% for projet in projets %}

                     <tr>

                         <td> {{ projet.id }} </td>
                         <td> {{ projet.title }} </td>
                         <td> {{ projet.years ? projet.years|date('Y-m-d') : '' }} </td>
                         <td> {{ projet.nbOfTracks }} </td>
                         <td> {{ projet.sample }} </td>
                         <td> {{ projet.linkone }} </td>
                         <td> {{ projet.linktwo }} </td>
                         <td> {{ projet.linkthree }} </td>
                         <td> {{ projet.cover }} </td>
                         <td> {{ projet.description }} </td>

                             <td>
                                 <a class="btn btn-outline-primary" href="{{ path('projet_show_user', {'id': projet.id, 'login': app.user.login}) }}"> Voir </a>
                                 <a class="btn btn-outline-primary" href="{{ path('projet_edit_user', {'id': projet.id, 'login': app.user.login}) }}"> Modifier </a>
                            </td>

                     </tr>

                     {% else %}

                         <tr>
                            <td colspan="11"> Aucun résultat </td>
                         </tr>

                     {% endfor %}

                 </tbody>

             </table>

             <a class="btn btn-primary btn-lg btn-block" href="{{ path('projet_new_user', {'login': app.user.login}) }}"> Créer un nouveau projet </a>

 {% endblock %}
