 {% extends 'base.html.twig' %}


     {% block metaTitle %}
         " Services"
     {% endblock %}

     {% block title %}
         Services
     {% endblock %}


     {% block body %}

         {# <div class="example-wrapper"> #}

             <h1 class="h3 mb-3 font-weight-normal" id="h1_services_a"> Services: {{ service.title }} </h1>

                 <section >
                    
                     {# <article > #}
                    
                         {# <h2> {{ service.title }} </h2> #}
                    
                         {# <div class="container"> #}
                    
                             {# <div class="row"> #}
                          
                             {# <div class="col-4"> #}
                                 <img  src="/uploads/picture/{{service.picture}} ">
                             {# </div> #}
                    
                             {# </div> #}
                    
                     {# </article>    #}
                    
                     <article>

                         <h4> {{ service.shortDesc }} </h4>
                         {# <div class="col-8"> #}
                             <p class ="homeShortDesc"> {{ service.longDesc }} </p>
                             {# <p class ="homeShortDesc"> {{ service.shortDesc }} </p> #}
                         {# </div> #}

                     </article>
 
                 </section>  

                         {# </div> #}
         
                          {# <p class ="homeLongDesc"> {{ service.longDesc }} </p> #}

                     {# </div> #}

                 {# </article> #}

         {# </div> #}
     
     {% endblock %}