{{ form_start(form) }}
<div>
    {{ form_label(form.login) }}
    {{ form_errors(form.login) }}
    {{ form_widget(form.login) }}
</div>
<div>
    {{ form_label(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}
</div>
<div>
    {{ form_label(form.lastname) }}
    {{ form_errors(form.lastname) }}
    {{ form_widget(form.lastname) }}
</div>
<div>
    <label>Mot de passe</label>
    {{ form_errors(form.plainPassword) }}
    {{ form_widget(form.plainPassword,{ 'attr':{
        'class':'inputEmail',
        'value':user.password }}) }}
</div> 
<div class="rolesFormAdmin row">
    {{form_label(form.roles, 'Veuillez sélectionner un role :' ,{'label_attr':{'class':'col-3'}})}}
    {# {% for role in form.roles.vars.choices %}
    {{ dump(form.roles.vars.choices) }}
    {{ dump (role)}} #}
    {# {% endfor %} #}
    {{form_widget(form.roles)}}


    {# {{ form_label(form.roles) }} #}
    {# {{ form_errors(form.roles) }}  #}
    {# <div class="col-3"> #}
    {# {{ form_row(form.roles)}}  #}
     {# {{ form_widget(form.roles) }}  #}
    {# </div> #}


</div>
<div>
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
</div>
<div>
    {{ form_label(form.address) }}
    {{ form_widget(form.address) }}
</div>
<div>
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}
</div>
     <button class="btn">
         {{ button_label|default('Save') }}
     </button>
{{ form_end(form) }}
